doctype html
html(lang="en")
  head
    block title
    block vars
    meta(name='description' content=description)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="assets/css/styles.css")

    //- Favicons
    //- Generate from http://realfavicongenerator.net/

  body
    block content
    script(src="assets/js/scripts.js")
