/* ==========================================================================
 * Styles
 * ========================================================================== */

/* Vendor */
@import "normalize.css";
@import "sanitize.css";

/*
  Utilities

  Weight: 0

  Styleguide Utilities
*/
@import "1_utilities/variables";

/*
  Base

  Weight: 1

  Styleguide Base
*/
@import "2_base/body";
@import "2_base/buttons";
@import "2_base/forms";
@import "2_base/images";
@import "2_base/lists";
@import "2_base/tables";
@import "2_base/typography";

/*
  Components

  Weight: 2

  Styleguide Components
*/
@import "3_components/buttons";

/*
  Layout

  Weight: 3

  Styleguide Layout
*/
@import "4_layout/container";

/*
  Helpers

  Weight: 4

  Styleguide Helpers
*/
@import "5_helpers/disabled";
@import "5_helpers/floats";
@import "5_helpers/reset";
@import "5_helpers/typography";

/* Style Guide */
@import "6_styleguide/styleguide";
