@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local(Montserrat-Bold),url(//fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmzklk6MJbhg7BmBP42CjCQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

/* ==========================================================================
 * Styles
 * ========================================================================== */

/* Vendor */

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio, canvas, progress, video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, [hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active, a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
  margin: 1em 2.5rem;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/* Display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */
	display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio, canvas, progress, video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, [hidden] {
	display: none;
}

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*, ::before, ::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before, ::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */

html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	font-family: sans-serif; /* 3 */
	line-height: 1.5; /* 3 */
	-ms-text-size-adjust: 100%; /* 4 */
	-webkit-text-size-adjust: 100%; /* 5 */
}

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */

/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, pre, samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */

hr {
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol, nav ul {
	list-style: none;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */

abbr[title] {
	border-bottom: 1px dotted; /* 1 */
	text-decoration: none; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
	font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Add the correct colors in IE 9-.
 */

mark {
	background-color: #ffff00;
	color: #000000;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Correct the font size in all browsers.
 */

small {
	font-size: 83.3333%;
}

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */

sub, sup {
	font-size: 83.3333%; /* 1 */
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline when hovering in all browsers (opinionated).
 */

a:hover {
	outline-width: 0;
}

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */

/*
 * Remove border spacing in all browsers (opinionated).
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */

/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */

button, input, select, textarea {
	background-color: transparent; /* 1 */
	border-style: none; /* 1 */
	color: inherit; /* 1 */
	font-size: 1em; /* 1 */
	margin: 0; /* 3 */
}

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */

button, input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */

button, select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Correct the focus styles unset by the previous rule.
 */

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the border, margin, and padding in all browsers.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 2 */
	white-space: normal; /* 1 */
}

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
	padding: 0;
}

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */

::-webkit-search-cancel-button, ::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a, area, button, input, label, select, textarea, [tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[hidden][aria-hidden="false"] {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

[hidden][aria-hidden="false"]:focus {
	clip: auto;
}

/*
Utilities

Weight: 0

Styleguide Utilities
*/

/* ==========================================================================
 * Variables
 * ========================================================================== */

/*
Colors

<div class="sg-color-blocks">
  <div class="sg-color-block sg-color-block--blue"><code>--blue</code></div>
  <div class="sg-color-block sg-color-block--gray"><code>--gray</code></div>
  <div class="sg-color-block sg-color-block--gray-light"><code>--gray-light</code></div>
  <div class="sg-color-block sg-color-block--gray-dark"><code>--gray-dark</code></div>
</div>

Styleguide Utilities.Colors
*/

/* These styles are used by the style guide example */

.sg-color-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sg-color-block:not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

.sg-color-block::after {
  border-radius: 3px;
  content: "";
  display: block;
  height: 36px;
  height: 2.25rem;
  width: 50%;
}

.sg-color-block--blue::after {
  background: #3498db;
}

.sg-color-block--gray::after {
  background: #bdc3c7;
}

.sg-color-block--gray-light::after {
  background: #ecf0f1;
}

.sg-color-block--gray-dark::after {
  background: #95a5a6;
}

/*
Base

Weight: 1

Styleguide Base
*/

/* ==========================================================================
 * Body
 * ========================================================================== */

body {
  background-color: #fff;
}

/* ==========================================================================
 * Buttons
 * ========================================================================== */

/*
  Buttons

  Markup:
  <button>Button</button>

  Styleguide: Base.Buttons
*/

button {
  color: #000;
  cursor: pointer;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-font-smoothing: inherit;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

button:not([class]) {
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
}

button:not([class]):hover {
  background: transparent;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */

/*
  Forms

  Markup:
  <form>
    <fieldset>
      <legend>Legend</legend>
      <label for="text-input">Text Field:</label>
      <input id="text-input" type="text" placeholder="Input">
      <label for="textarea">Textarea:</label>
      <textarea id="textarea" placeholder="Textarea"></textarea>
      <label for="select">Select:</label>
      <select id="select">
        <option selected disabled>Choose an Option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </fieldset>
  </form>

  Styleguide: Base.Forms
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
}

legend:not([class]):not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

label:not([class]) {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
}

input, select, textarea {
  display: block;
  padding: 0;
  width: 100%;
}

input[class], select[class], textarea[class] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:not([class]), select:not([class]), textarea:not([class]) {
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  line-height: 1.5;
  padding: 6px;
  padding: 0.375rem;
}

input:not([class]):not(:last-child), select:not([class]):not(:last-child), textarea:not([class]):not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* ==========================================================================
 * Images
 * ========================================================================== */

/*
  Images

  Markup:
  <img src="http://placehold.it/600x400">

  Styleguide: Base.Images
*/

img {
  height: auto;
  max-width: 100%;
}

/* ==========================================================================
 * Lists
 * ========================================================================== */

/*
  Lists

  Markup:
  <h3>Ordered List</h3>
  <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ol>
  <h3>Unordered List</h3>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
    </li>
    <li>List Item 3</li>
  </ul>

  Styleguide: Base.Lists
*/

ol[class], ol[class] ol, ul[class], ul[class] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol:not([class]), ul:not([class]) {
  padding-left: 24px;
  padding-left: 1.5rem;
}

ol:not([class]):not(:last-child), ul:not([class]):not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*
  Definition Lists

  Markup:
  <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
  </dl>

  Styleguide: Base.Lists.Definition Lists
*/

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

dd:not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* ==========================================================================
 * Tables
 * ========================================================================== */

/*
  Tables

  Markup:
  <table>
    <tbody>
      <tr>
        <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
      </tr>
      <tr>
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr>
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr>
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
    </tbody>
  </table>

  Styleguide: Base.Tables
*/

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table:not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

table:not([class]) th, table:not([class]) td {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}

table:not([class]) th {
  font-weight: 600;
  text-align: left;
}

table:not([class]) td {
  padding-top: 12px;
  padding-top: 0.75rem;
}

table:not([class]) tr, table:not([class]) td, table:not([class]) th {
  vertical-align: middle;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */

/*
  Typography

  Styleguide: Base.Typography
*/

html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  color: #000;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}

/*
  Headings

  Headings are unstyled by default so that they can be used interchangeably.

  Markup:
  <h1>Heading 1</h1>
  <h2>Heading 2</h1>
  <h3>Heading 3</h1>
  <h4>Heading 4</h1>
  <h5>Heading 5</h1>
  <h6>Heading 6</h1>

  Styleguide: Base.Typography.Headings
*/

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

h1:not([class]) { font-weight: 500; line-height: 1.2; font-size: 30px; font-size: 1.875rem; }

h1:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

h2:not([class]) { font-weight: 500; line-height: 1.2; font-size: 22px; font-size: 1.375rem; }

h2:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

h3:not([class]) { font-weight: 500; line-height: 1.2; font-size: 16px; font-size: 1rem; }

h3:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

h4:not([class]) { font-weight: 500; line-height: 1.2; font-size: 14px; font-size: 0.875rem; }

h4:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

h5:not([class]) { font-weight: 500; line-height: 1.2; font-size: 12px; font-size: 0.75rem; }

h5:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

h6:not([class]) { font-weight: 500; line-height: 1.2; font-size: 10px; font-size: 0.625rem; }

h6:not([class]):not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/*
  Paragraphs

  Markup:
  <p>Lorem ipsum dolor sit amet, <a href="#">test link</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, <a href="#">test link</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  Styleguide: Base.Typography.Paragraphs
*/

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

[href] {
  color: currentColor;
  text-decoration: none;
}

[href]:not([class]) {
  color: #3498db;
}

/*
  Small

  Markup:
  <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small></p>

  Styleguide: Base.Typography.Small
*/

small {
  font-size: 12px;
  font-size: 0.75rem;
}

/*
  Strong

  Markup:
  <p>Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit.</p>

  Styleguide: Base.Typography.Strong
*/

strong {
  font-weight: 600;
}

::-moz-selection {
  background: #3498db;
  color: #fff;
}

::selection {
  background: #3498db;
  color: #fff;
}

/*
Components

Weight: 2

Styleguide Components
*/

/* ==========================================================================
 * Buttons
 * ========================================================================== */

/*
  Buttons

  Markup:
  <button class="c-button">Button</button>

  Styleguide: Components.Buttons
*/

.c-button {
  border: 1px solid #3498db;
  border-radius: 100px;
  border-radius: 6.25rem;
  color: #3498db;
  display: inline-block;
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 6px 36px;
  padding: 0.375rem 2.25rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.c-button:hover {
  background-color: #3498db;
  color: #fff;
}

/*
Layout

Weight: 3

Styleguide Layout
*/

/* ==========================================================================
 * Container
 * ========================================================================== */

/*
  Container

  Use `<div class="l-container"></div>` to center and set a max-width on your content.

  Styleguide: Layout.Container
*/

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  max-width: 75rem;
  padding-left: 24px;
  padding-left: 1.5rem;
  padding-right: 24px;
  padding-right: 1.5rem;
  position: relative;
}

/*
Helpers

Weight: 4

Styleguide Helpers
*/

/* ==========================================================================
 * Clearfix
 * ========================================================================== */

/*
Clearfix

Use `.h-clearfix` to fix the zero-height container problem for floated elements.

Styleguide Helpers.Clearfix
*/

.h-clearfix {
  clear: both;
  content: "";
  display: table;
}

/* ==========================================================================
 * Disabled
 * ========================================================================== */

/*
Disabled

Use the custom property `--disabled`, the `disabled` attribute or the `.is-disabled` class to disable any element.

Markup:
<button class="c-button">Default Button</button>
<button class="c-button" disabled>Disabled Button</button>
<button class="c-button is-disabled">Disabled Button</button>

Styleguide Helpers.Disabled
*/

[disabled], .is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* ==========================================================================
 * Floats
 * ========================================================================== */

/*
Floats

Styleguide Helpers.Floats
*/

.h-float-right {
  float: right !important;
}

.h-float-left {
  float: left !important;
}

.h-clearfix {
  clear: both;
  content: "";
  display: table;
}

/* ==========================================================================
 * Reset
 * ========================================================================== */

/*
Reset

Use `.h-reset` to set all styles to their initial state.

Styleguide Helpers.Reset
*/

.h-reset {
  -webkit-animation: none 0s ease 0s 1 normal none running;
          animation: none 0s ease 0s 1 normal none running;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  border: medium none currentColor;
  border-collapse: separate;
  -o-border-image: none;
     border-image: none;
  border-radius: 0;
  border-spacing: 0;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: #000;
  -webkit-columns: auto;
     -moz-columns: auto;
          columns: auto;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance;
  -webkit-column-gap: normal;
     -moz-column-gap: normal;
          column-gap: normal;
  -webkit-column-rule: medium none currentColor;
     -moz-column-rule: medium none currentColor;
          column-rule: medium none currentColor;
  -webkit-column-span: 1;
     -moz-column-span: 1;
          column-span: 1;
  -webkit-column-width: auto;
     -moz-column-width: auto;
          column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font-family: serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  height: auto;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  left: auto;
  letter-spacing: normal;
  list-style: disc outside none;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: static;
  right: auto;
  -moz-tab-size: 8;
    -o-tab-size: 8;
       tab-size: 8;
  table-layout: auto;
  text-align: left;
  -moz-text-align-last: auto;
       text-align-last: auto;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 2;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  animation: none 0s ease 0s 1 normal none running;
  backface-visibility: visible;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  border: medium none currentColor;
  border-collapse: separate;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: #000;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font-family: serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  list-style: disc outside none;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: left;
  text-align-last: auto;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  transition: none 0s ease 0s;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 2;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  all: initial;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */

/*
Typography

Markup:
<p class="h-text-left">Text Left</p>
<p class="h-text-center">Text Center</p>
<p class="h-text-right">Text Right</p>

Styleguide Helpers.Typography
*/

.h-text-left {
  text-align: left !important;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

/* Style Guide */

/* ==========================================================================
 * Style Guide
 * ========================================================================== */

/* ==========================================================================
 * Slideout Menu
 * ========================================================================== */

@media screen and (max-width: 979px) {

  .sg-overlay {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    cursor: pointer;
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 99;
  }
}

@media screen and (max-width: 979px) {

  .sg-overlay.is-visible {
    opacity: 1;
    pointer-events: all;
  }
}

.sg-slideout-menu {
  background: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 180px;
  width: 11.25rem;
  z-index: 100;
}

@media screen and (max-width: 979px) {

  .sg-slideout-menu {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: box-shadow 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 980px) {

  .sg-slideout-menu {
    border-right: 1px solid #bdc3c7;
  }
}

@media screen and (max-width: 979px) {

  .sg-slideout-menu.is-visible {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* ==========================================================================
 * Syntax Highlighting
 * ========================================================================== */

code, pre {
  color: #000;
  direction: ltr;
  font-family: "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.4;
  overflow: scroll;
  -webkit-overflow-scroll: touch;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

pre {
  margin: 0;
}

code {
  font-size: 12px;
  font-size: 0.75rem;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #bdc3c7;
}

.token.string, .token.attr-value {
  color: #183691;
}

.token.punctuation, .token.operator {
  color: #95a5a6;
}

.token.entity, .token.url, .token.symbol, .token.number, .token.boolean, .token.variable, .token.constant, .token.property, .token.regex, .token.inserted {
  color: #183691;
}

.token.atrule, .token.keyword, .token.attr-name, .language-autohotkey .token.selector {
  color: #795da3;
}

.token.function, .token.deleted, .language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag, .token.selector, .language-autohotkey .token.keyword {
  color: #63a35c;
}

.token.important, .token.function, .token.bold {
  font-weight: 600;
}

.token.italic {
  font-style: italic;
}

:root { /* Don't convert to rem */ /* Don't convert to rem */ /* Don't convert to rem */
}

.sg-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sg-page__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 12px;
  padding: 0.75rem;
  z-index: 300;
}

.sg-page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.sg-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-header__title {
  color: #3498db;
  font-weight: 600;
  text-transform: uppercase;
}

.sg-hamburger {
  cursor: pointer;
  display: inline-block;
  margin: -6px;
  margin: -0.375rem;
  margin-right: 6px;
  margin-right: 0.375rem;
  padding: 6px;
  padding: 0.375rem;
}

@media screen and (min-width: 980px) {

  .sg-hamburger {
    display: none;
  }
}

.sg-hamburger__icon {
  height: 18PX;
  pointer-events: none;
  position: relative;
  width: 18PX;
}

.sg-hamburger__line {
  background-color: #3498db;
  border-radius: 100px;
  border-radius: 6.25rem;
  display: block;
  height: 2PX;
  left: 0;
  position: absolute;
  -webkit-transition: top 0.15s ease-in-out 0.15s,
      bottom 0.15s ease-in-out 0.15s,
      -webkit-transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s,
      bottom 0.15s ease-in-out 0.15s,
      -webkit-transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s,
      bottom 0.15s ease-in-out 0.15s,
      transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out 0.15s,
      bottom 0.15s ease-in-out 0.15s,
      transform 0.15s ease-in-out,
      -webkit-transform 0.15s ease-in-out;
  width: 100%;
}

.is-active .sg-hamburger__line {
  -webkit-transition: top 0.15s ease-in-out,
        bottom 0.15s ease-in-out,
        -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out,
        bottom 0.15s ease-in-out,
        -webkit-transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out,
        bottom 0.15s ease-in-out,
        transform 0.15s ease-in-out 0.15s;
  transition: top 0.15s ease-in-out,
        bottom 0.15s ease-in-out,
        transform 0.15s ease-in-out 0.15s,
        -webkit-transform 0.15s ease-in-out 0.15s;
}

.sg-hamburger__line:nth-child(1) {
  top: 1PX;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.is-active .sg-hamburger__line:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.sg-hamburger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.is-active .sg-hamburger__line:nth-child(2) {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.sg-hamburger__line:nth-child(3) {
  bottom: 1PX;
  -webkit-transform: translateY(50%) rotate(0deg);
          transform: translateY(50%) rotate(0deg);
}

.is-active .sg-hamburger__line:nth-child(3) {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.sg-sidebar {
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-top: 12px;
  padding-top: 0.75rem;
}

@media screen and (min-width: 900px) {

  .sg-sidebar {
    -ms-flex-preferred-size: 250px;
    -ms-flex-preferred-size: 15.625rem;
        flex-basis: 250px;
        flex-basis: 15.625rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
  }
}

.sg-sidebar__menu a {
  color: #000;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
}

.sg-sidebar__menu a:hover {
  background: #ecf0f1;
}

.sg-sidebar__menu ul a {
  padding-left: 24px;
  padding-left: 1.5rem;
}

.sg-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

.sg-section {
  padding-bottom: 36px;
  padding-bottom: 2.25rem;
  padding-top: 36px;
  padding-top: 2.25rem;
}

.sg-section--depth-1 {
  background-color: #3498db;
  color: #fff;
}

.sg-section--depth-1 a {
  color: #fff;
}

.sg-section__header:not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.sg-section__h1 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
}

.sg-section__h1:not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

.sg-section__h2 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 22px;
  font-size: 1.375rem;
}

.sg-section__h2:not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

.sg-section__h3 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  font-size: 1rem;
}

.sg-section__h3:not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

.sg-section__description {
  border-left: 1px solid #bdc3c7;
  max-width: 600px;
  max-width: 37.5rem;
  padding-left: 12px;
  padding-left: 0.75rem;
}

.sg-section__description:not(:last-child) {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

.sg-section__markup-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #bdc3c7;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  padding: 0.375rem;
}

.sg-section__markup-label:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.sg-section__markup {
  border: 1px solid #bdc3c7;
  border-bottom: 0;
  padding: 24px;
  padding: 1.5rem;
}

.sg-section.is-dark .sg-section__markup {
  background: #95a5a6;
}

.sg-section__code {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #bdc3c7;
  padding: 12px;
  padding: 0.75rem;
}
