/* ==========================================================================
 * Images
 * ========================================================================== */

/*
  Images

  Markup:
  <img src="http://placehold.it/600x400">

  Styleguide: Base.Images
*/

img {
  height: auto;
  max-width: 100%;
}
