/* ==========================================================================
 * Images
 * ========================================================================== */

/*
  Images

  Markup:
  <img src="../assets/img/600x400.png">

  Styleguide: Base.Images
*/

img {
  height: auto;
  max-width: 100%;
}
