/* ==========================================================================
 * Lists
 * ========================================================================== */

/*
  Lists

  Markup:
  <h3>Ordered List</h3>
  <ol>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ol>
  <h3>Unordered List</h3>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
    </li>
    <li>List Item 3</li>
  </ul>

  Styleguide: Base.Lists
*/

ol,
ul {
  &[class],
  &[class] & {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &:not([class]) {
    padding-left: var(--spacing-med);

    &:not(:last-child) {
      margin-bottom: var(--spacing-med);
    }
  }
}

/*
  Definition Lists

  Markup:
  <dl>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
    <dt>Definition List Title</dt>
    <dd>This is a definition list division.</dd>
  </dl>

  Styleguide: Base.Lists.Definition Lists
*/

dl {
  margin: 0;
}

dt {
  font-weight: var(--font-weight-bold);
  margin: 0;
}

dd {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: var(--spacing-med);
  }
}
